// Primary containers
$section-primary: #FFFFFF;
$header-primary: linear-gradient(168.85deg, #EFEFEF 1.39%, #DDDDDD 84.94%);

$header-text: #41524C;

$section-header: #33393E;
$section-text: #000000;

$section-br: #D9D9D9;