// Text colors
$secondary: #41524C;
$secondary-light: #9B8C80; // lighter version of $secondary; primarily for (secondary) nav bar.
$primary: #000000;
$caption: #FFFFFF;
$tertiary: $caption; // same color; alias.
$link: #028ACA;